<% content_for(:html_title) { "Register" } -%>
<section>
<h1>Register</h1>
<% if user_signed_in? -%>
<p>You are already registered as <%= current_user.player.name %>!</p>
<ul>
<li><%= link_to 'View Player', player_path(current_user.player) %></li>
<li><%= link_to 'Edit Player', edit_player_path(current_user.player) %></li>
</ul>
<% else -%>
<p>
Welcome to Runway Project, a bi-weekly, AI-driven KSP fighter jet competition put in motion by Scott “Munley” Manley!<br>To join, register below, and while you're at it, <a href="https://docs.google.com/document/d/1SsWF1RIg_sl1mRW_aNWpQaAyZCnb0oZ2uDHIjZEIpMk/edit?usp=sharing">read the introduction and rules.</a>
</p>
<%= link_to 'Get Started with a Google Account', user_google_oauth2_omniauth_authorize_path %>
<% end -%>
</section>

